aspen_general: "https://discordapp.com/api/webhooks/1234567890/asdfghjkl"
announcements: "https://discordapp.com/api/webhooks/1234567890/asdfghjkl"
cognitive_reframing: "https://discordapp.com/api/webhooks/1234567890/asdfghjkl"
gratitude: "https://discordapp.com/api/webhooks/1234567890/asdfghjkl"
staff_announcements: "https://discordapp.com/api/webhooks/1234567890/asdfghjkl"
staff_mod_chat: "https://discordapp.com/api/webhooks/1234567890/asdfghjkl"
staff_admin_chat: "https://discordapp.com/api/webhooks/1234567890/asdfghjkl"
